@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.progressVisualFull {
  display: flex;
  height: 6px;
  margin-top: 5px;
}

.progressVisualPart {
  transition: width 2s;
}

:root {
  --primary: #111827;
  --secondary: rgb(99 102 241);
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: var(--primary);
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary);
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary);
}

.debug {
  border: 1px solid red;
}
