@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.progressVisualFull {
  display: flex;
  height: 6px;
  margin-top: 5px;
}

.progressVisualPart {
  transition: width 2s;
}
